#rojo{
    background-color: red;
    height: 100px;
   
}
#verde{
    background-color: green;
    height: 100px;
   
   
}

#azul{
    background-color: blue;
    height: 100px;
   
   
}
#amarillo{
    background-color: yellow;
    height: 100px;
    
}
.columna-4{
    display: inline-block;
    width: 25%;

}
.contenedor{
    display: flex;
}